<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sequencerURL" value="http://localhost:7071/api/RuleSetSequencer"/>
    <add key="environment" value="dev"/>
    <add key="loggingURL" value="https://pcr{0}.azure-api.net/logs/LOG_MASTER"/>
    <add key="workflowURL" value="https://pcr{0}.azure-api.net/workflow/api/work"/>
  </appSettings>
</configuration>