<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="getFileDefinitionURL" value="https://sequencerdev.azurewebsites.net/api/getFileDefinition?code=D5GitsI2sQhw2bkPOiauDaUoV4GkaUEVcIWb0HveDeVgQB5DDCgO5Q=="/>
  <add key="getFilesURL" value="https://sequencerdev.azurewebsites.net/api/getFiles?code=ZNb/E4MGCm9H5DAgkRTzXE/VCiqL9MFon7UJnqCEfjiFhWO3sNewQQ=="/>
  <add key="WorkflowURL" value="https://utils-dev.azurewebsites.net/api/CreateFeedWorkflowHttp?code=xiSstQ2JShYStrox84EaTSfTeFUrQ3NwUWLl2VnuHBmhaspjcUKeBA==" />
</configuration>