<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="XMLFileFolderSettings" value="\FolderSettings.xml"/>
    <add key="ServiceName" value="FileWatching"/>
    <add key="ServiceDisplayName" value="FileWatch"/>
    <add key="ServiceDescription" value="FileServices"/>
    <add key="TimeDelay" value="60000"/>
    <add key="getFilesURL" value="https://sequencerdev.azurewebsites.net/api/getFiles?code=ZNb/E4MGCm9H5DAgkRTzXE/VCiqL9MFon7UJnqCEfjiFhWO3sNewQQ=="/>
    <add key="WorkflowURL" value="https://utils-dev.azurewebsites.net/api/CreateFeedWorkflowHttp?code=xiSstQ2JShYStrox84EaTSfTeFUrQ3NwUWLl2VnuHBmhaspjcUKeBA==" />
  </appSettings>
</configuration>
